* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    background: linear-gradient(#e2e2e2, #f5f5f5);
}

.app {
    display: flex;
    height: 100vh;
}

/* MENU */
.container-menu {
    width: 260px;
    background: #1e1e2f;
    color: white;
    padding: 15px;
}

.container-menu h2 {
    text-align: center;
}

.container-menu input,
.container-menu select {
    width: 100%;
    margin-bottom: 10px;
    padding: 6px;
    border-radius: 8px;
    border: none;
}

.container-menu ul {
    list-style: none;
    padding: 0;
}

.menu-item {
    padding: 10px;
    cursor: pointer;
    border-radius: 6px;
}

.menu-item.active,
.menu-item:hover {
    background: #3f51b5;
}

/* CONTENT */
.container-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.content {
    display: none;
}

.content.active {
    display: block;
}

/* FORM */
#productForm {
    max-width: 320px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #1e1e2f;
    padding: 20px;
    border-radius: 10px;
}

#productForm input,
#productForm select {
    padding: 6px;
    border-radius: 5px;
    border: none;
    background: #3f51b5;
    color: white;
}

#productForm button {
    background: #00dd00;
    border: none;
    padding: 8px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

/* CARDS */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px,1fr));
    gap: 15px;
}

.card {
    background: white;
    padding: 12px;
    border-radius: 8px;
}

.actions {
    margin-top: 10px;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

button.danger {
    background: #c62828;
    color: white;
    border: none;
}

/* MODAL */
#modalPassword {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.6);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-box {
    background: #1e1e2f;
    padding: 20px;
    border-radius: 10px;
    color: white;
    width: 280px;
}

.btn-atras {
    background: #d40000;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 6px;
    cursor: pointer;
}

#passwordError {
    color: red;
    display: none;
}

/* HISTORIAL */
#historial li {
    background: #3f51b5;
    color: white;
    margin: 8px 0;
    padding: 8px;
    border-radius: 6px;
    list-style: none;
}
